{% extends 'main/layout.html' %}
{% block title %}О нас{% endblock %}

{% block body %}
	<div id="wrapper">
		<div>
			<div id="main-text">
				<h1>О проекте Batanic_garden</h1>
			</div>
			<br>
			<div id="main-text">
				<h4>Для чего нужен проект Batanic_garden ?</h4>
			</div>
			<hr>
			<div id="main-info">
				<p>
					Проект "Batanic Garden" был разработан в рамках хакатона CreativeGen для решения проблемы, с которой столкнулись сотрудники музея перед мероприятием "Ночь музеев". Они не знали, сколько посетителей придет, и боялись, что могут столкнуться с переполнением или недостатком посетителей. "Batanic Garden" представляет собой систему регистрации посетителей по назначенному времени и на определенное время, что позволяет управлять потоком посетителей. Благодаря этому проекту посетители также могут использовать справочник, где доступна информация о растениях в музее, и даже увидеть их фотографии и местоположение. Это позволяет сотрудникам музея более спокойно готовиться к мероприятию, не беспокоясь о количестве посетителей, и создает более комфортное и информативное впечатление для гостей.
				</p>
			</div>
			<hr>
			<div id="main-text">
				<h4>О создателе проекта</h4>
			</div>
			<hr>
			<div id="main-info">
				<p>
					Проект "Batanic Garden" был разработан начинающим python-разработчиком по имени <strong>Дастан Темиров.</strong> Дастан увлечен созданием подобных проектов, и он старается делать это насколько лучше с учетом своих навыков. Его стремление и интерес к разработке таких приложений весьма важны и ценны. Мы надеемся, что "Batanic Garden" будет полезен и приятен посетителям музея, и Дастан продолжит свое увлекательное путешествие в мире программирования.
					Дастан Темиров:
					- <a id="about-link" href="https://www.linkedin.com/in/dastan-temirov-21188b281">LinkedIn</a>
					- <a id="about-link" href="https://github.com/tidi18">GitHub</a>
				</p>
			</div>
			<hr>
		</div>
	</div>

{% endblock %}
