#body {
	background-image: url(../img/oboii.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	margin: 0;
}


#main_container {
	color: white;
	margin: 5px 5px 5px 5px;
	padding: 20px;
}


#custom-navbar {
    background-color: #004524 !important;
    opacity: 0.9; 
}

#my_nav-link {
	color: white;
  border-bottom: 2px solid transparent; 
  transition: border-color 0.3s;
}

#my_nav-link:hover {
  border-color: white;
}


#my_toggler {
	color: white ;
}


#home-logo-link {
    max-width: 50px;
    height: auto;
    border-radius: 50%;
}


#form_style {
	opacity: 0.9;
	
}

#button_style {
	background-color: #004524;
	border-color: #004524;
}

#start-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#start-btn {
	background-color: #004524;
	border-color: #004524;
	width: 37%;
	padding: 15px 15px;
	margin: 10px 120px;

}

#btn-right{
	float: right;
	color: white;
}

#btn-left {
	float: left;
	color: white;
}


#wrapper {
	background-color: white;
	color: #004524;
	opacity: 0.9;
	padding: 5px;
	border-radius: 5px 5px;

}


#main-text {
	background-color: #004524;
	color: white;
	padding: 2px;
	border-radius: 5px 5px;
}


#main-info {
	padding: 3px;
}

#plant-image-container {
    display: flex; /* Используйте flex-контейнер */
    align-items: center; /* Центрируйте содержимое вертикально по центру */
    justify-content: center; /* Центрируйте содержимое горизонтально по центру (если необходимо) */
    width: 100%; /* Установите ширину контейнера, если это необходимо */
    height: auto; /* Установите высоту контейнера, если это необходимо */
}

#plant-image {
    width: 100%; /* Установите желаемую ширину */
    height: auto; /* Установите желаемую высоту */
    object-fit: cover; /* Этот стиль позволяет изображению заполнять контейнер сохраняя пропорции и обрезать изображение, если оно не соответствует контейнеру */
}

#about-link{
	background-color: #004524;
	text-decoration: none;
	color: white;
	border-radius: 2px 2px;
	padding: 2px;
	transition: border-radius 0.5s;

}

#about-link:hover {
	border-radius: 4px 4px;
}


